In [1]:
import pandas as pd
import numpy as np
import pathlib
import calendar
import pickle

In [11]:
# df1 = pd.read_pickle('tdp_ind.pkl')
df1 = pd.read_csv('tdp_ind.csv')

In [15]:
df1 = df1.set_index(['SITE_NUMBER', 'OBSERVATION_TIME'])

In [36]:
 df1 = df1.sort_index(level=0)

In [51]:
df1

                                       AMBIENT_AIR_TEMP  TMR_PAV  TMR_SUB_0  \
SITE_NUMBER OBSERVATION_TIME
8           2004-01-18 01:00:00+00:00            -33.90   -24.20     -22.40
            2004-01-18 02:00:00+00:00            -34.80   -24.50     -22.70
            2004-01-18 03:00:00+00:00            -35.70   -24.90     -23.10
            2004-01-18 04:00:00+00:00            -36.00   -25.10     -23.30
            2004-01-18 05:00:00+00:00            -35.90   -25.20     -23.40
...                                                 ...      ...        ...
323         2017-12-31 19:00:00+00:00             22.30    22.80      21.14
            2017-12-31 20:00:00+00:00             22.42    22.41      21.13
            2017-12-31 21:00:00+00:00             22.58    22.20      21.07
            2017-12-31 22:00:00+00:00             21.94    22.04      21.00
            2017-12-31 23:00:00+00:00             21.80    21.83      20.92

                                       TMR_SUB_3  TMR_SUB_6  TMR_SUB_9  \
SITE_NUMBER OBSERVATION_TIME
8           2004-01-18 01:00:00+00:00     -14.80     -11.60      -7.96
            2004-01-18 02:00:00+00:00     -15.20     -12.10      -8.14
            2004-01-18 03:00:00+00:00     -15.50     -12.10      -8.32
            2004-01-18 04:00:00+00:00     -15.90     -12.60      -8.68
            2004-01-18 05:00:00+00:00     -16.10     -12.60      -8.86
...                                          ...        ...        ...
323         2017-12-31 19:00:00+00:00      21.49      21.94      22.56
            2017-12-31 20:00:00+00:00      21.55      22.03      22.65
            2017-12-31 21:00:00+00:00      21.58      22.11      22.73
            2017-12-31 22:00:00+00:00      21.58      22.16      22.80
            2017-12-31 23:00:00+00:00      21.57      22.20      22.85

                                       TMR_SUB_12  TMR_SUB_18  TMR_SUB_24  \
SITE_NUMBER OBSERVATION_TIME
8           2004-01-18 01:00:00+00:00       -2.92        2.30        8.96
            2004-01-18 02:00:00+00:00       -3.10        2.12        8.96
            2004-01-18 03:00:00+00:00       -3.28        2.12        8.78
            2004-01-18 04:00:00+00:00       -3.46        1.76        8.78
            2004-01-18 05:00:00+00:00       -3.82        1.76        8.60
...                                           ...         ...         ...
323         2017-12-31 19:00:00+00:00       22.85       24.07       25.53
            2017-12-31 20:00:00+00:00       22.92       24.12       25.54
            2017-12-31 21:00:00+00:00       22.99       24.16       25.57
            2017-12-31 22:00:00+00:00       23.06       24.21       25.59
            2017-12-31 23:00:00+00:00       23.11       24.25       25.61

                                       TMR_SUB_30  TMR_SUB_36  TMR_SUB_42  \
SITE_NUMBER OBSERVATION_TIME
8           2004-01-18 01:00:00+00:00       14.36       19.94       24.62
            2004-01-18 02:00:00+00:00       14.36       19.76       24.44
            2004-01-18 03:00:00+00:00       14.18       19.76       24.44
            2004-01-18 04:00:00+00:00       14.18       19.76       24.44
            2004-01-18 05:00:00+00:00       14.00       19.58       24.26
...                                           ...         ...         ...
323         2017-12-31 19:00:00+00:00       27.01       28.74       29.97
            2017-12-31 20:00:00+00:00       27.01       28.73       29.96
            2017-12-31 21:00:00+00:00       27.02       28.73       29.95
            2017-12-31 22:00:00+00:00       27.03       28.72       29.94
            2017-12-31 23:00:00+00:00       27.04       28.72       29.93

                                       TMR_SUB_48  TMR_SUB_54  TMR_SUB_60  \
SITE_NUMBER OBSERVATION_TIME
8           2004-01-18 01:00:00+00:00       28.40       30.20       32.00
            2004-01-18 02:00:00+00:00       28.40       30.20       32.00
            2004-01-18 03:00:00+00:00       28.40       30.20       32.00
            2004-01-18 04:00:00+00:00       28.40       30.20       32.00
            2004-01-18 05:00:00+00:00       28.22       30.02       32.00
...                                           ...         ...         ...
323         2017-12-31 19:00:00+00:00       31.72       32.48       33.07
            2017-12-31 20:00:00+00:00       31.71       32.47       33.07
            2017-12-31 21:00:00+00:00       31.70       32.47       33.06
            2017-12-31 22:00:00+00:00       31.70       32.46       33.06
            2017-12-31 23:00:00+00:00       31.69       32.45       33.06

                                       TMR_SUB_66  TMR_SUB_72
SITE_NUMBER OBSERVATION_TIME
8           2004-01-18 01:00:00+00:00       33.44       34.34
            2004-01-18 02:00:00+00:00       33.44       34.34
            2004-01-18 03:00:00+00:00       33.44       34.34
            2004-01-18 04:00:00+00:00       33.44       34.34
            2004-01-18 05:00:00+00:00       33.44       34.34
...                                           ...         ...
323         2017-12-31 19:00:00+00:00       33.66       34.15
            2017-12-31 20:00:00+00:00       33.66       34.15
            2017-12-31 21:00:00+00:00       33.66       34.15
            2017-12-31 22:00:00+00:00       33.65       34.14
            2017-12-31 23:00:00+00:00       33.65       34.14

[5754574 rows x 17 columns]

In [38]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 5754574 entries, (8, '2004-01-18 01:00:00+00:00') to (323, '2017-12-31 23:00:00+00:00')
Data columns (total 17 columns):
 #   Column            Dtype
---  ------            -----
 0   AMBIENT_AIR_TEMP  float64
 1   TMR_PAV           float64
 2   TMR_SUB_0         float64
 3   TMR_SUB_3         float64
 4   TMR_SUB_6         float64
 5   TMR_SUB_9         float64
 6   TMR_SUB_12        float64
 7   TMR_SUB_18        float64
 8   TMR_SUB_24        float64
 9   TMR_SUB_30        float64
 10  TMR_SUB_36        float64
 11  TMR_SUB_42        float64
 12  TMR_SUB_48        float64
 13  TMR_SUB_54        float64
 14  TMR_SUB_60        float64
 15  TMR_SUB_66        float64
 16  TMR_SUB_72        float64
dtypes: float64(17)
memory usage: 778.8+ MB

In [39]:
df2 = df1.loc[128]

In [40]:
df2.head()

,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72
OBSERVATION_TIME,,,,,,,,,,,,,,,,,
2003-01-31 02:00:00+00:00,31.31,31.93,31.85,31.57,31.07,31.07,31.00,30.72,30.86,31.43,31.43,31.92,33.03,33.73,34.41,34.88,35.02
2003-01-31 03:00:00+00:00,34.11,31.37,32.07,32.14,31.51,30.94,31.23,30.80,30.80,31.09,31.51,32.07,32.42,33.60,34.08,34.76,35.10
2003-01-31 04:00:00+00:00,32.83,30.87,31.79,31.58,31.30,31.16,30.87,30.52,30.66,30.94,31.51,32.14,32.21,33.74,34.22,34.63,35.30
2003-01-31 05:00:00+00:00,32.47,31.37,32.15,31.79,31.51,31.37,31.02,30.80,30.80,31.02,31.23,31.73,32.50,33.54,34.29,34.83,35.30
2003-01-31 06:00:00+00:00,33.89,31.38,32.01,31.80,31.73,31.37,30.80,30.52,30.59,30.87,31.80,32.15,32.64,33.61,34.29,34.83,35.17

In [41]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 110581 entries, 2003-01-31 02:00:00+00:00 to 2017-12-31 23:00:00+00:00
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   AMBIENT_AIR_TEMP  110581 non-null  float64
 1   TMR_PAV           110581 non-null  float64
 2   TMR_SUB_0         110581 non-null  float64
 3   TMR_SUB_3         110581 non-null  float64
 4   TMR_SUB_6         110581 non-null  float64
 5   TMR_SUB_9         110581 non-null  float64
 6   TMR_SUB_12        110581 non-null  float64
 7   TMR_SUB_18        110581 non-null  float64
 8   TMR_SUB_24        110581 non-null  float64
 9   TMR_SUB_30        110581 non-null  float64
 10  TMR_SUB_36        110581 non-null  float64
 11  TMR_SUB_42        110581 non-null  float64
 12  TMR_SUB_48        110581 non-null  float64
 13  TMR_SUB_54        110581 non-null  float64
 14  TMR_SUB_60        110581 non-null  float64
 15  TMR_SUB_66        110581 non-null  float64
 16  TMR_SUB_72        110581 non-null  float64
dtypes: float64(17)
memory usage: 15.2+ MB

In [44]:
df3 = df1.loc[(128): (2014)]

In [45]:
df3.head()

                                       AMBIENT_AIR_TEMP  TMR_PAV  TMR_SUB_0  \
SITE_NUMBER OBSERVATION_TIME
128         2003-01-31 02:00:00+00:00             31.31    31.93      31.85
            2003-01-31 03:00:00+00:00             34.11    31.37      32.07
            2003-01-31 04:00:00+00:00             32.83    30.87      31.79
            2003-01-31 05:00:00+00:00             32.47    31.37      32.15
            2003-01-31 06:00:00+00:00             33.89    31.38      32.01

                                       TMR_SUB_3  TMR_SUB_6  TMR_SUB_9  \
SITE_NUMBER OBSERVATION_TIME
128         2003-01-31 02:00:00+00:00      31.57      31.07      31.07
            2003-01-31 03:00:00+00:00      32.14      31.51      30.94
            2003-01-31 04:00:00+00:00      31.58      31.30      31.16
            2003-01-31 05:00:00+00:00      31.79      31.51      31.37
            2003-01-31 06:00:00+00:00      31.80      31.73      31.37

                                       TMR_SUB_12  TMR_SUB_18  TMR_SUB_24  \
SITE_NUMBER OBSERVATION_TIME
128         2003-01-31 02:00:00+00:00       31.00       30.72       30.86
            2003-01-31 03:00:00+00:00       31.23       30.80       30.80
            2003-01-31 04:00:00+00:00       30.87       30.52       30.66
            2003-01-31 05:00:00+00:00       31.02       30.80       30.80
            2003-01-31 06:00:00+00:00       30.80       30.52       30.59

                                       TMR_SUB_30  TMR_SUB_36  TMR_SUB_42  \
SITE_NUMBER OBSERVATION_TIME
128         2003-01-31 02:00:00+00:00       31.43       31.43       31.92
            2003-01-31 03:00:00+00:00       31.09       31.51       32.07
            2003-01-31 04:00:00+00:00       30.94       31.51       32.14
            2003-01-31 05:00:00+00:00       31.02       31.23       31.73
            2003-01-31 06:00:00+00:00       30.87       31.80       32.15

                                       TMR_SUB_48  TMR_SUB_54  TMR_SUB_60  \
SITE_NUMBER OBSERVATION_TIME
128         2003-01-31 02:00:00+00:00       33.03       33.73       34.41
            2003-01-31 03:00:00+00:00       32.42       33.60       34.08
            2003-01-31 04:00:00+00:00       32.21       33.74       34.22
            2003-01-31 05:00:00+00:00       32.50       33.54       34.29
            2003-01-31 06:00:00+00:00       32.64       33.61       34.29

                                       TMR_SUB_66  TMR_SUB_72
SITE_NUMBER OBSERVATION_TIME
128         2003-01-31 02:00:00+00:00       34.88       35.02
            2003-01-31 03:00:00+00:00       34.76       35.10
            2003-01-31 04:00:00+00:00       34.63       35.30
            2003-01-31 05:00:00+00:00       34.83       35.30
            2003-01-31 06:00:00+00:00       34.83       35.17

In [46]:
df4 = df1.loc[(128): (2014), 'TMR_SUB_18']

In [48]:
df4

SITE_NUMBER  OBSERVATION_TIME
128          2003-01-31 02:00:00+00:00    30.72
             2003-01-31 03:00:00+00:00    30.80
             2003-01-31 04:00:00+00:00    30.52
             2003-01-31 05:00:00+00:00    30.80
             2003-01-31 06:00:00+00:00    30.52
                                          ...
323          2017-12-31 19:00:00+00:00    24.07
             2017-12-31 20:00:00+00:00    24.12
             2017-12-31 21:00:00+00:00    24.16
             2017-12-31 22:00:00+00:00    24.21
             2017-12-31 23:00:00+00:00    24.25
Name: TMR_SUB_18, Length: 2611880, dtype: float64