In [1]:
import pandas as pd
import numpy as np
import pathlib
import calendar
import pickle

In [2]:
df1 = pd.read_pickle('tdp_ind.pkl')

In [3]:
df1.head()

                                       AMBIENT_AIR_TEMP  TMR_PAV  TMR_SUB_0  \
SITE_NUMBER OBSERVATION_TIME
101         2007-03-27 01:00:00+00:00             23.72    10.58       9.68
            2007-03-27 02:00:00+00:00             23.90    10.58       9.86
            2007-03-27 03:00:00+00:00             19.94     9.86       9.68
            2007-03-27 04:00:00+00:00             10.58     8.96       8.96
            2007-03-27 05:00:00+00:00              6.62     8.06       8.24

                                       TMR_SUB_3  TMR_SUB_6  TMR_SUB_9  \
SITE_NUMBER OBSERVATION_TIME
101         2007-03-27 01:00:00+00:00       8.42       7.88       7.88
            2007-03-27 02:00:00+00:00       8.96       8.24       8.24
            2007-03-27 03:00:00+00:00       9.14       8.60       8.42
            2007-03-27 04:00:00+00:00       9.14       8.96       8.78
            2007-03-27 05:00:00+00:00       8.78       8.96       8.96

                                       TMR_SUB_12  TMR_SUB_18  TMR_SUB_24  \
SITE_NUMBER OBSERVATION_TIME
101         2007-03-27 01:00:00+00:00        8.42        9.86       11.12
            2007-03-27 02:00:00+00:00        8.42       10.04       11.12
            2007-03-27 03:00:00+00:00        8.78        9.86       10.94
            2007-03-27 04:00:00+00:00        8.96        9.86       10.94
            2007-03-27 05:00:00+00:00        8.96        9.86       10.94

                                       TMR_SUB_30  TMR_SUB_36  TMR_SUB_42  \
SITE_NUMBER OBSERVATION_TIME
101         2007-03-27 01:00:00+00:00       12.38       13.10        14.0
            2007-03-27 02:00:00+00:00       12.38       13.28        14.0
            2007-03-27 03:00:00+00:00       12.20       13.10        14.0
            2007-03-27 04:00:00+00:00       12.20       13.10        14.0
            2007-03-27 05:00:00+00:00       12.20       13.10        14.0

                                       TMR_SUB_48  TMR_SUB_54  TMR_SUB_60  \
SITE_NUMBER OBSERVATION_TIME
101         2007-03-27 01:00:00+00:00       14.54       15.44       16.52
            2007-03-27 02:00:00+00:00       14.72       15.62       16.52
            2007-03-27 03:00:00+00:00       14.72       15.44       16.52
            2007-03-27 04:00:00+00:00       14.72       15.62       16.52
            2007-03-27 05:00:00+00:00       14.72       15.62       16.52

                                       TMR_SUB_66  TMR_SUB_72
SITE_NUMBER OBSERVATION_TIME
101         2007-03-27 01:00:00+00:00       17.42       18.14
            2007-03-27 02:00:00+00:00       17.60       18.32
            2007-03-27 03:00:00+00:00       17.42       18.14
            2007-03-27 04:00:00+00:00       17.42       18.32
            2007-03-27 05:00:00+00:00       17.42       18.32

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 5754574 entries, ('101', Timestamp('2007-03-27 01:00:00+0000', tz='UTC')) to ('8', Timestamp('2017-12-31 23:00:00+0000', tz='UTC'))
Data columns (total 17 columns):
 #   Column            Dtype
---  ------            -----
 0   AMBIENT_AIR_TEMP  float64
 1   TMR_PAV           float64
 2   TMR_SUB_0         float64
 3   TMR_SUB_3         float64
 4   TMR_SUB_6         float64
 5   TMR_SUB_9         float64
 6   TMR_SUB_12        float64
 7   TMR_SUB_18        float64
 8   TMR_SUB_24        float64
 9   TMR_SUB_30        float64
 10  TMR_SUB_36        float64
 11  TMR_SUB_42        float64
 12  TMR_SUB_48        float64
 13  TMR_SUB_54        float64
 14  TMR_SUB_60        float64
 15  TMR_SUB_66        float64
 16  TMR_SUB_72        float64
dtypes: float64(17)
memory usage: 778.8+ MB

In [5]:
df2 = df1.loc['128']

In [6]:
df2.head()

,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72
OBSERVATION_TIME,,,,,,,,,,,,,,,,,
2003-01-31 02:00:00+00:00,31.31,31.93,31.85,31.57,31.07,31.07,31.00,30.72,30.86,31.43,31.43,31.92,33.03,33.73,34.41,34.88,35.02
2003-01-31 03:00:00+00:00,34.11,31.37,32.07,32.14,31.51,30.94,31.23,30.80,30.80,31.09,31.51,32.07,32.42,33.60,34.08,34.76,35.10
2003-01-31 04:00:00+00:00,32.83,30.87,31.79,31.58,31.30,31.16,30.87,30.52,30.66,30.94,31.51,32.14,32.21,33.74,34.22,34.63,35.30
2003-01-31 05:00:00+00:00,32.47,31.37,32.15,31.79,31.51,31.37,31.02,30.80,30.80,31.02,31.23,31.73,32.50,33.54,34.29,34.83,35.30
2003-01-31 06:00:00+00:00,33.89,31.38,32.01,31.80,31.73,31.37,30.80,30.52,30.59,30.87,31.80,32.15,32.64,33.61,34.29,34.83,35.17

In [7]:
df3 = df1.loc[('128'): ('2014')]

In [8]:
df3.head()

                                       AMBIENT_AIR_TEMP  TMR_PAV  TMR_SUB_0  \
SITE_NUMBER OBSERVATION_TIME
128         2003-01-31 02:00:00+00:00             31.31    31.93      31.85
            2003-01-31 03:00:00+00:00             34.11    31.37      32.07
            2003-01-31 04:00:00+00:00             32.83    30.87      31.79
            2003-01-31 05:00:00+00:00             32.47    31.37      32.15
            2003-01-31 06:00:00+00:00             33.89    31.38      32.01

                                       TMR_SUB_3  TMR_SUB_6  TMR_SUB_9  \
SITE_NUMBER OBSERVATION_TIME
128         2003-01-31 02:00:00+00:00      31.57      31.07      31.07
            2003-01-31 03:00:00+00:00      32.14      31.51      30.94
            2003-01-31 04:00:00+00:00      31.58      31.30      31.16
            2003-01-31 05:00:00+00:00      31.79      31.51      31.37
            2003-01-31 06:00:00+00:00      31.80      31.73      31.37

                                       TMR_SUB_12  TMR_SUB_18  TMR_SUB_24  \
SITE_NUMBER OBSERVATION_TIME
128         2003-01-31 02:00:00+00:00       31.00       30.72       30.86
            2003-01-31 03:00:00+00:00       31.23       30.80       30.80
            2003-01-31 04:00:00+00:00       30.87       30.52       30.66
            2003-01-31 05:00:00+00:00       31.02       30.80       30.80
            2003-01-31 06:00:00+00:00       30.80       30.52       30.59

                                       TMR_SUB_30  TMR_SUB_36  TMR_SUB_42  \
SITE_NUMBER OBSERVATION_TIME
128         2003-01-31 02:00:00+00:00       31.43       31.43       31.92
            2003-01-31 03:00:00+00:00       31.09       31.51       32.07
            2003-01-31 04:00:00+00:00       30.94       31.51       32.14
            2003-01-31 05:00:00+00:00       31.02       31.23       31.73
            2003-01-31 06:00:00+00:00       30.87       31.80       32.15

                                       TMR_SUB_48  TMR_SUB_54  TMR_SUB_60  \
SITE_NUMBER OBSERVATION_TIME
128         2003-01-31 02:00:00+00:00       33.03       33.73       34.41
            2003-01-31 03:00:00+00:00       32.42       33.60       34.08
            2003-01-31 04:00:00+00:00       32.21       33.74       34.22
            2003-01-31 05:00:00+00:00       32.50       33.54       34.29
            2003-01-31 06:00:00+00:00       32.64       33.61       34.29

                                       TMR_SUB_66  TMR_SUB_72
SITE_NUMBER OBSERVATION_TIME
128         2003-01-31 02:00:00+00:00       34.88       35.02
            2003-01-31 03:00:00+00:00       34.76       35.10
            2003-01-31 04:00:00+00:00       34.63       35.30
            2003-01-31 05:00:00+00:00       34.83       35.30
            2003-01-31 06:00:00+00:00       34.83       35.17

In [9]:
df4 = df1.loc[('128'): ('2014'), 'TMR_SUB_18']

In [10]:
df4.head()

SITE_NUMBER  OBSERVATION_TIME
128          2003-01-31 02:00:00+00:00    30.72
             2003-01-31 03:00:00+00:00    30.80
             2003-01-31 04:00:00+00:00    30.52
             2003-01-31 05:00:00+00:00    30.80
             2003-01-31 06:00:00+00:00    30.52
Name: TMR_SUB_18, dtype: float64